<!-- your_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Multilingual Database</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .search{
            display:flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add Data via Excel Sheet</h3>
        <input type="file" name="excel_sheet" accept=".xlsx, .xls">
        <div>
            <label for="name">Name of new data set</label>
            <input type="text" id="name" name="newlang" required>
        </div>
        <div>
            <label for="title">Column no. of Title:</label>
            <input type="number" id="title" name="title" required>
        </div>
        <div>
            <label for="author">Column no. of Author Name:</label>
            <input type="number" id="author" name="author" required>
        </div>
        <div>
            <label for="isbn">Column no. of ISBN Number:</label>
            <input type="number" id="isbn" name="isbn" required>
        </div>
        <div>
            <label for="publisher">Column no. of Publisher:</label>
            <input type="number" id="publisher" name="publisher" required>
        </div>
        <div>
            <label for="language">Column no. of Language:</label>
            <input type="number" id="language" name="language" required>
        </div>
        <button type="submit">Upload</button>
    </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add Data via Excel Sheet</h3>
        <input type="file" name="excel_sheet" accept=".xlsx, .xls">
        <select id="lang" name="lang">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <div>
            <label for="title">Column no. of Title:</label>
            <input type="number" id="title" name="title" required>
        </div>
        <div>
            <label for="author">Column no. of Author Name:</label>
            <input type="number" id="author" name="author" required>
        </div>
        <div>
            <label for="isbn">Column no. of ISBN Number:</label>
            <input type="number" id="isbn" name="isbn" required>
        </div>
        <div>
            <label for="publisher">Column no. of Publisher:</label>
            <input type="number" id="publisher" name="publisher" required>
        </div>
        <div>
            <label for="language">Column no. of Language:</label>
            <input type="number" id="language" name="language" required>
        </div>
        <button type="submit">Upload</button>
    </form>
    <a href="admin1/contacts" class="button">Contacts</a>
</body>
</html>
