<!-- your_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Multilingual Database</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .search{
            display:flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

  

    
    <div style="display: flex;" >
        <img src="https://www.iiti.ac.in/public/themes/iitindore/demos/update-logo.png" width="200px">
        <div>
            <h3>{{ data.malayalam_title }}</h3>
            <h3>{{ data.english_title }}</h3>
            <p>{{ data.author_name }}</p>
            <p>Published by {{ data.publisher }}</p>
            <p>ISBN number {{ data.isbn_no }}</p>
            <p>Subject {{ data.subject }}</p>
            <p>Genre {{ data.genre }}</p>
            <p>Year of DC {{ data.year_of_dc }}</p>
            <p>Year of publication {{ data.year_of_pub }}</p>
            <p>Other publications: {{ data.other_pub }}</p>
        </div>
    </div>
    <hr>

</body>
</html>
